.prdList-multi-template {
    margin: 5vh 15vw;
}

.pagination {
    margin: 5rem 0;
}

/////////////////////////////////////

.prdList-one-template {
    padding: 7vh 0;
}

.prdList-one-color-template {
    background: whitesmoke;
}

.prdList-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prdList-one-list {
    margin: 0 15vw;
    display: flex;
    // border: 1px solid blue;
}

.prdList-one-item-box {
    // border: 1px solid red;
    padding: 0.5rem;
}