.img-box {
    width: 100%;
    height: auto;
    cursor: pointer; 

    img {
        width: 100%;
    }

    img.hover,
    img:hover {
        // opacity: 0.35;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

.title-box {
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    margin-top: 1rem;
}

.score-box {
    text-align: start;
    margin-top: 10px;
}

.rating-box {
    display: flex;
    margin-top: 10px;
    font-size: 12px;
}