.loading-template {
    text-align: center;
    padding: 30vh 0;
}

.detail-template {
    margin: 0 15vw;
    padding: 5vh 0;
    text-align: center;
}

.detail-img-box {
    margin-bottom: 2rem;

    img {
        width: 30%;
    }
}

.detail-desc-box {
    padding: 1rem;

    .desc-title-box {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        margin: 1rem 0;
    }

    .td-title {
        width: 20%;
        text-align: center;
    }
}