.img-box {
    width: 100%;
    height: auto;
    cursor: pointer; 

    img {
        width: 100%;
    }
}

.title-box {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
}