.prdList-multi-template {
    margin: 5vh 15vw;

    p {
        text-align: center;
    }
}

.pagination {
    margin: 5rem 0;
}

/////////////////////////////////////

.prdList-one-template {
    padding: 7vh 0;
}

.prdList-one-color-template {
    background: whitesmoke;
}

.prdList-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prdList-one-list {
    margin: 0 15vw;
    display: flex;
}

.prdList-one-item-box {
    padding: 0.5rem;
}