.header {
    display: block;
    width: 100%;
    // height: 55px;
    // margin-bottom: 72px;
    top: 0;
    position: fixed;
    z-index: 100;
    border-bottom: 0.5px solid gray;
    background-color: #ffffff;
}

.template-lg {
    margin: 0 20vw;
}

.user-box-lg {
    text-align: right;
}

.logo-box-lg {
    text-align: center;
}

.menu-box-lg {
    display: flex;

    .col-menu {
        width: 70%;
    }

    .col-search {
        width: 30%;
        text-align: right;
    }
}