.header {
    display: block;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 3px #8080804f;
}

.header-fix {
    transition: top 0.2s ease-in-out;
    position: fixed;
    z-index: 100;    
    top: 0;
}

.template-lg {
    margin: 0 20vw;
}

.user-box-lg {
    text-align: right;
    font-size: 12px;
    padding: 0.5vh 0;

    a { margin: 20px 5px;}
    a:link { color: black; text-decoration: none;}
    a:visited { color: black; text-decoration: none;}
    a:hover { color: block; text-decoration: none;}   
    
    .logout-box {
        cursor: pointer;
    }
}

.logo-box-lg {
    text-align: center;
    color: #0f4c81;
    padding: 2vh 0 0.3vh;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.05em;
    p { cursor: pointer; }
}

.menu-box-lg {
    display: flex;
    
    .col-menu {
        width: 30%;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #333;
        
        a { margin: 20px 10px;}
        a:link { color: black; text-decoration: none;}
        a:visited { color: black; text-decoration: none;}
        a:hover { color: block; text-decoration: none;}
    }
    
    .col-search {
        width: 100%;
        // display: grid;
        text-align: center;
        padding: 1rem 0;
        
        .search-input {
            width: 70%;            
        }
    }
}